*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game_container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #187D9B;
}

.coin{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    border: 3px solid black;
    position: absolute;
}

.green_head{
    width: 58px;
    height: 58px;
    margin: 0;
    padding: 0;
    position: absolute;
    animation: spin 1.3s linear infinite;
}

.player{
    position: absolute;
    bottom: -1px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
}

.dragon{
    position: absolute;
    top: calc(50% - 110px);
    left: 0px;
    transform: translateY(-50%) translateX(-400px);
    width: 400px;
    height: 200px;
}

.points{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #FFFF;
}

.cloud{
    position: absolute;
    animation: bouncing 1s infinite;
    animation-direction: alternate;
    z-index: 10;
    transform: translateY(-50%);
}

.cloud--left{
    width: 240px;
    height: 240px;
    top: 30%;
    left: 100px;
}

.cloud--right{
    position: absolute;
    width: 140px;
    height: 140px;
    top: 50%;
    right: 100px;
}

.player--left{
    transform: scaleX(-1)
}

.player--right{
    transform: scaleX(1);
}

.dead_overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1000000;
    transition: opacity 0.5s;
}

.dead_overlay__button{
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    border: 1px solid white;
}

.dead_overlay__title{
    padding: 40px;
}

.dead_overlay--hidden{
   opacity: 0;
}

.dead_overlay--visible{
    opacity: 1;
}

@keyframes spin {
    100% { transform: rotate(360deg); } 
}

@keyframes bouncing{
    from {
        transform: translateY(0px);
      }
    to {
        transform: translateY(15px);
    }
}